<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.bss.kintai.mapper.KintaiMapper">
	<select id ="findAll" resultType="jp.co.bss.kintai.dao.Kintai">
		SELECT name,jochu_saki,kintai_y,kintai_m,kinmu_data,kotsu_data FROM shain_info;
	</select>
	<update id="update">
		UPDATE shain_info  SET name=#{name},jochu_saki=#{jochu_saki},kintai_y=#{kintai_y},
		kintai_m=#{kintai_y},kinmu_data=#{kinmu_data},kotsu_data=#{kotsu_data}
	</update>
</mapper>