<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.bss.kintai.mapper.NotificationsInfoMapper">

    <select id="getNotificationsListInfoByUserName" resultType="jp.co.bss.kintai.model.NotificationsInfo">
        SELECT * FROM notifications ;
    </select>
    
    <select id="getAllNotifications" resultType="jp.co.bss.kintai.model.NotificationsInfo">
        SELECT * FROM notifications ;
    </select>

	<select id="getNormalNotifications" resultType="jp.co.bss.kintai.model.NotificationsInfo">
		SELECT * FROM notifications WHERE status = '1';
	</select>
	
	<select id="getNotificationsDate" resultType="jp.co.bss.kintai.model.NotificationsInfo">
		SELECT * FROM notifications WHERE TO_CHAR(creation_date, 'YYYYMM') = TO_CHAR(TO_DATE(#{yearMonth}, 'YYYYMM'), 'YYYYMM');
	</select>
	
	<select id="getNormalNotificationsDate" resultType="jp.co.bss.kintai.model.NotificationsInfo">
		SELECT * FROM notifications WHERE TO_CHAR(creation_date, 'YYYYMM') = TO_CHAR(TO_DATE(#{yearMonth}, 'YYYYMM'), 'YYYYMM')
		AND status = '1'; 
	</select>
	
	<select id="getNotificationsDateList" resultType="jp.co.bss.kintai.model.NotificationsInfo">
		SELECT DISTINCT creation_date FROM notifications ORDER BY creation_date DESC;
	</select>
	
</mapper>
