<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.bss.kintai.mapper.NoticeInfoMapper">

    <select id="getNoticeListInfoByUserName" resultType="jp.co.bss.kintai.model.NoticeInfo">
        SELECT * FROM notifications ;
    </select>

    <insert id="insertNotice1" parameterType="jp.co.bss.kintai.model.NoticeInfo">
        INSERT INTO notifications (title, content, status, file_content, start_time, end_time, posted_by, created_at, updated_at, creation_date, creater, update_date, updater)
        VALUES (#{title}, #{content}, #{status}, #{file_content}, #{start_time}, #{end_time}, #{posted_by}, #{created_at}, #{updated_at}, #{creation_date}, #{update_date}, #{updater});
    </insert>

    <delete id="deleteById" parameterType="String">
        DELETE FROM notifications WHERE id = #{id}
    </delete>

</mapper>
