<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.bss.kintai.mapper.UserInfoMapper">
    
    <!-- 根据 accountId 查询用户信息 -->
    <select id="getUserInfoByName" parameterType="java.lang.String" resultType="jp.co.bss.kintai.dao.UserInfo">
        SELECT * FROM public.user WHERE name = #{name}
    </select>
    
</mapper>
